.contact_us{
    background-color: #F0F7F3;
    min-width: 350px;

    h3, p{
        margin: 0;
        padding: 0;
    }

    .nav_border{
        height: 100px;
        width: 100%;
        box-shadow: 0 0.1px 5px #202020;
    }

// ====================================================================================================
//                                         Landing
// ===================================================================================================
    .contact_us_landing{
        padding: 40px 0;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
            
        .left{
            height: 100%;
            padding: 0 60px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            h3{
                font-size: 64px;
                color: #000;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
            }
            p{    
                max-width: 460px;
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                color: #000;
            }
        }

        .right{
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

// ====================================================================================================
//                                         Form
// ===================================================================================================
    .contact_us_form{
        height: auto;
        width: 100%;
        padding: 80px 40px;
        background-color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        form{
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            .slab{
                width: 100%;
                max-width: 850px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 15px;
                
                label{
                    font-family: 'Poppins', sans-serif;
                    color: #000;
                    font-size: 25px;
                    margin-left: 20px;
                    font-weight: 500;
                }
                input{
                    width: 100%;
                    height: 60px;

                    background-color: #FBFEFC;
                    border: 1px solid #97C5A9;
                    border-radius: 50px;

                    padding: 25px;
                    color: #97C5A9;
                    font-family: 'Poppins', sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                }
                ::placeholder {
                    color: #97C5A9;
                }
                :-ms-input-placeholder {
                    color: #97C5A9;
                }
                ::-ms-input-placeholder {
                    color: #97C5A9;
                }
                textarea{
                    background-color: #FBFEFC;
                    border: 1px solid #97C5A9;
                    border-radius: 50px;
                    width: 100%;
                    height: 160px;
                    padding: 25px;
                    color: #97C5A9;
                    font-family: 'Poppins', sans-serif;
                    font-size: 20px;
                }

            }
            button{
                background-color: #55665B;
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 25px;
                padding: 12px 40px;
                border-radius: 50px;
                cursor: pointer;
                border: none;
            }
        }

    }

// ====================================================================================================
//                                         Card
// ===================================================================================================
    .cards_container{
        width: 100%;
        padding: 40px 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        background-color: #fff;

        .card_{
            height: 200px;
            width: 550px;
            padding: 0 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;

            background-color: #fbfefc;
            border: 1px solid #97C5A9;
            border-radius: 50px;
        
            .slab{
                width: 100%;

                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .left{
                    height: 60px;
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    position: relative;
                }
                p{
                    width: calc(100% - 100px);
                    margin: 0;
                    padding: 0;
                    font-family: 'Poppins', sans-serif;
                    color: #000;
                    font-size: 22px;

                }
            }
        }

    }


// ====================================================================================================
//                                         Media Query
// ===================================================================================================
    
@media (max-width: 1200px) {
    .nav_border{
        height: 95px;
    }
    .contact_us_landing{
        .left h3{
            font-size: 52px;
        }
        .left p{
            font-size: 16px;
        }
    }
}
@media (max-width: 990px) {
    .nav_border{
        height: 82px;
    }
    .contact_us_landing{
        flex-direction: column;
        
        .left p{
            font-size: 20px;
        }
    }
}
@media (max-width: 640px) {
    .cards_container{
        .card_{
            width: 450px;
        }
    }
}
@media (max-width: 520px) {
    .cards_container{
        .card_{
            height: 180px;
            width: 350px;

            padding-left: 20px;
            padding-right: 20px;
            .slab{
                justify-content: center;
                gap: 25px;

                .left{
                    height: 50px;
                    width: 50px;
                }
                p{
                    font-size: 16px;
                }

            }
            
        }
    }
}
@media (max-width: 430px) {
    .contact_us_landing{
        .left{
            padding: 0 40px;

            h3{
                font-size: 45px;
            }
            p{
                font-size: 18px;
            }
        }
    }
}

}
